<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Info</title>
</head>
<body th:object = "${reqPoke}">
        <p>Name:<span th:text= "*{name}"></span></p>
        
        <p>Stats:</p>
        <ul>
            <li><span>HP:<span th:text="*{statsMap.get('hp')}"></span></span></li>
            <li><span>ATTACK:<span th:text="*{statsMap.get('attack')}"></span></span></li>
            <li><span>DEFENSE:<span th:text="*{statsMap.get('defense')}"></span></span></li>
            <li><span>SPECIAL ATTACK:<span th:text="*{statsMap.get('special-attack')}"></span></span></li>
            <li><span>SPECIAL DEFENSE:<span th:text="*{statsMap.get('special-defense')}"></span></span></li>
            <li><span>SPEED:<span th:text="*{statsMap.get('speed')}"></span></span></li>
        </ul>
    <span><a th:href = "@{/add}" >ADD</a></span>
    <span><a th:href = "@{/back}" >BACK</a></span>

</body>
</html>