<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body th:object="${Trainer}">
    <div>
        <h1><span><a th:text="*{trainerName}"></a><a>'s team</span></h1>
        <ul th:each="pokemon:*{pokeArrString}">
            <span th:text = "${pokemon}"></span>
        </ul>
        <a>List to code for</a>
    </div>

    <div>
        <form action = "#" th:action = "@{/search}" method = "post"}>
            <p>Pokemon to show:<input type = "text" th:field="*{searchPokeString}"><input type = "submit" value="search"/></p>
        </form>
    </div>
</body>
</html>